.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.titulo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    gap: 8px;
}

nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

nav > ul > li {
    list-style: none;
    font-size: 24px;
}

.house-icon{
    height: 128px;
    width: auto;
}

