.titulo-historial{
    text-align: center;
    font-size: 32px;
}

table{
    background-color: aliceblue;
    color: #222;
    border-radius: 12px;
    margin: 8px;
    padding: 8px;
}

@media screen and(max-width:475px){
    .historial-container{
        width: 100%;
    }

    .titulo-historial{
        font-size: 2rem;
    }

    table{
        width: 100%;
    }
}